{% extends craft.config.defaultLayout %}

{% set tag = craft.tags.title(tag).first() %}

{% if not tag %}
    {% exit 404 %}
{% endif %}

{% block header %}
	<div class="index__header">
		<div class="index__header-meta">
			<h1 class="index__title">{{ tag.title }}</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="content-section">
		<div class="content-section__inner">
			{% paginate craft.entries({
				section: 'posts',
				relatedTo: tag,
				with: [
					['hero', {
						withTransforms: [
							'blogIndexMobileHero2x',
							'blogIndexTabletHero2x'
						]
					}]
				]
			}).limit(20) as entries %}
			<div class="blog-index">
				{% for entry in entries %}
					{% include '_includes/partials/blog-excerpt' %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% include '_includes/utilities/pagination' %}
{% endblock %}