{% for block in entry.blogContent %}
	{% if block.type == 'text' %}
		<div class="container">
			<div class="post-text">
				{{ block.body }}
			</div>
		</div>
	{% elseif block.type == 'code' %}
		<div class="post-code-block">
			<pre><code class="language-{{ block.language }}">{{ block.code }}</code></pre>
		</div>
	{% elseif block.type == 'images' %}
		{% if block.image is defined and block.image|length %}
			{% set image = block.image.first() %}
			<img src="{{ image.url }}" class="post-image">
		{% elseif block.gallery is defined and block.gallery|length %}
			<div class="swiper-container" data-ref="gallery">
				<div class="swiper-wrapper">
					{% for image in block.gallery %}
						<img src="{{ image.url }}" class="swiper-slide">
					{% endfor %}
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		{% endif %}
	{% endif %}
{% endfor %}
