// Import wee-core reset and components
@import '~wee-core/styles/reset';
@import '~wee-core/styles/components/helpers';
@import '~wee-core/styles/components/buttons';
@import '~wee-core/styles/components/forms';
@import './print.scss';

#global {
    .-no-outline {
        outline: none;
    }
}

html {
    font-smoothing: antialiased; /* stylelint-disable-line */
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body,
html {
    @include size(100%);
}

body {
    background-color: $offWhite;
}

a {
    display: inline-block;

    &:active {
        color: lighten($linkColorHover, 10%);
        transform: translate3d(1px, 1px, 0);
    }
}

p {
    line-height: 2;
}

code {
    line-height: 1.7;
}

body.vanilla-modal .modal-hider {
    left: -99999em;
    position: absolute;
}

/* latin-ext */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/4JBDq56CMkU462bp0T-W9IX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v5/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.hljs {
    background: #2b2b2d;
    color: #cdd3d8;
    display: block;
    font-family: 'Fira Mono', monospace;
    font-size: 1em;
    overflow-x: auto;
    padding: 1em;

    & > *::selection {
        background-color: #3e4451;
    }
}

.hljs-comment {
    color: #656565;
    font-style: italic;
}

.hljs-selector-tag {
    color: #c792ea;
}

.hljs-string,
.hljs-subst {
    color: #c3e88d;
}

.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
    color: #f77669;
}

.hljs-keyword {
    color: #c792ea;
}

.hljs-title {
    color: #75a5ff;
}

.hljs-function {
    & > .hljs-title {
        color: #75a5ff;
    }
}

.hljs-tag {
    color: #abb2bf;
}

.hljs-name {
    color: #e06c75;
}

.hljs-type {
    color: #da4939;
}

.hljs-attribute {
    color: #80cbbf;
}

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-link {
    color: #c792ea;
}

.hljs-params {
    color: #eefff7;
}

.hljs-meta {
    color: #75a5ff;
}

.hljs-section {
    color: #ffc66d;
}

.hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
}

.hljs-selector-class {
    color: #ffcb68;
}

.hljs-selector-id {
    color: #f77669;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}

.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>");
}
