$baseFont: 'Roboto Slab', sans-serif;
$headingFont: 'PT Mono', monospace;

// Colors
$offWhite: #f5f5f5;
$baseColor: #444;
$primary: $baseColor;

$linkColorHover: #5c91a9;
$inputRounded: false;

@import '~wee-core/styles/variables.scss';
