.blog-excerpt {
    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &:not(:last-child) {
        &::after {
            border-bottom: 1px solid $lighterGray;
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 4rem;
            width: 40%;
        }
    }
}
