.contact-form {
	label {
		display: block;
		margin-bottom: 1rem;
	}
	textarea {
		resize: none;
	}
}

.errors {
	list-style-type: none;
	margin-top: -2rem;
	&__error {
		color: $warning;
		font-size: 1.2rem;
	}
}
