{% extends craft.config.defaultLayout %}

{% block content %}
	<article class="post">
		<div class="container">
			<header class="post__header">
				<h2 class="post__title">{{ entry.title }}</h2>
				<div class="post__date">
					<time datetime="{{ entry.postDate }}">{{ entry.postDate.format('F jS, Y') }}</time>
				</div>
			</header>
			{# <ul class="post__categories">
				{% for category in entry.postCategory %}
					<li class="post__category">
						<a href="{{ category.url }}">{{ category.title }}</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="post__tags">
				{% for tag in entry.postTags %}
					<li class="post__tag">
						<a href="{{ siteUrl }}tags/{{ tag.title|url_encode|lower }}">
							{{ tag.title }}
						</a>{% if not loop.last %},{% endif %}
					</li>
				{% endfor %}
			</ul> #}
		</div>
		<div class="post__content">
			{% include '_includes/blog-content' %}
		</div>
	</article>
{% endblock %}
