.main {
    background-color: $white;
    box-shadow: 0 0 12px 2px rgba(142, 142, 142, 0.06);
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    transition: opacity .1s ease-in-out;
    &.-is-loading {
        opacity: 0;
    }
}
