{% macro srcset(params) %}
	{% set image = params.image %}
	{% set src = params.src ?? null %}
	{% set sets = params.sets ?? null %}
	{% set sizes = params.sizes is defined ? ' sizes="' ~ params.sizes ~ '"' : '' %}
	{% set alt = (params.alt is defined) and (params.alt|length) ? ' alt="' ~ params.alt ~ '"' : ((params.alt is defined) and (params.alt is same as(false)) ? ' alt=""'  : ' alt="' ~ image.title ~ '"') %}
	{% set class = params.class is defined ? ' class="' ~ params.class ~ '"' : '' %}
	{% set ref = params.ref is defined ? ' data-ref="' ~ params.ref ~ '"' : '' %}
	{% set largestTransform = '' %}
	{% set srcset = '' %}

	{% if sets is defined and sets is not empty %}
		{% set srcset = 'srcset="' %}
		{% set largest = 0 %}

		{% for transform in sets %}
			{% set imageWidth = image.getWidth(transform) %}

			{% set srcset = srcset ~ image.getUrl(transform) ~ ' ' ~ imageWidth ~ 'w' %}

			{% if not loop.last %}
				{% set srcset = srcset ~ ',' %}
			{% endif %}

			{% if imageWidth > largest %}
				{% set largest = imageWidth %}
				{% set largestTransform = transform %}
			{% endif %}
		{% endfor %}

		{% set src = src ?? largestTransform %}
		{% set srcset = srcset ~ '"' %}
	{% endif %}

	<img src="{{ image.getUrl(src) }}"{{ srcset|raw }}{{ sizes|raw }}{{ alt|raw }}{{ class|raw }}{{ ref|raw }}>
{% endmacro %}