.header {
    padding-top: 4rem;
    text-align: center;
}

@tablet {
    .header {
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;

        &__title {
            font-size: 5rem;
        }

        &__subtitle {
            font-size: 1.8rem;
        }
    }
}
