.categories {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__header {
        margin-bottom: $bumperPadding;
        text-align: center;
    }

    &__category {
        margin-bottom: $bumperPadding;
    }

    &__category-wrap {
        position: relative;
    }

    &__category-info {
        align-items: center;
        background-color: rgba($black, 0.6);
        bottom: 0;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__category-title {
        margin-bottom: 1rem;
    }

    &__category-image {
        vertical-align: bottom;
    }
}

@tablet {
    .categories {
        &__content {
            display: grid;
            grid-gap: $bumperPadding;
            grid-template-columns: 1fr 1fr;
        }

        &__category-info {
            opacity: 0;
            transition: opacity .2s ease-in-out;
        }

        &__category-title,
        &__category-count {
            opacity: 0;
            transform: translateY(2rem);
            transition: all .2s ease-in-out;
        }

        &__category {
            display: block;

            &:hover {
                .categories__category-info {
                    opacity: 1;
                }

                .categories__category-title,
                .categories__category-count {
                    opacity: 1;
                    transform: translateX(0);
                }

                .categories__category-count {
                    transition-delay: .05s;
                }
            }
        }
    }
}
