<div class="blog-excerpt">
	<a href="{{ entry.url }}">
		<h2 class="blog-excerpt__header">{{ entry.title }}</h2>
	</a>
	<p class="blog-excerpt__excerpt">{{ entry.blogExcerpt }}</p>
	<a href="{{ entry.url }}" class="blog-excerpt__link">More</a>
</div>
