{% set categoryImageTransforms = [
	'categoryImageMobile2x',
	'categoryImageTablet2x'
] %}

{% set entryCount = craft.entries.relatedTo(category).total() %}

{% if entryCount > 0 %}
	<a href="{{ category.url }}" class="categories__category">
		<div class="categories__category-wrap">
			{{ imageUtils.srcset({
				image: category.categoryImage.first(),
				sets: categoryImageTransforms,
				class: 'categories__category-image',
				sizes: '100vw'
			}) }}
			<div class="categories__category-info">
				<div class="categories__category-title">
					{{ category.title }}
				</div>
				<div class="categories__category-count">
					{{ entryCount }} post{% if entryCount > 1 or entryCount == 0 %}s{% endif %}
				</div>
			</div>
		</div>
	</a>
{% endif %}