{% set heroImage = false %}

{% if entry and entry.hero|length %}
	{% set heroImage = entry.hero.first().url %}
{% endif %}

<header
	class="header{% if heroImage %} -has-hero{% endif %}"
	role="banner"{% if heroImage %}
style="background-image: url('{{ heroImage }}');"{% endif %}
>
	<div class="header__inner">
		{{ block('header') }}
	</div>
</header>