<nav class="navigation" role="navigation">
	<ul class="navigation__menu">
		<li class="navigation__menu-item">
			<a href="/" class="navigation__menu-link">Home</a>
		</li>
		<li class="navigation__menu-item">
			<a href="/categories" class="navigation__menu-link">Categories</a>
		</li>
		<li class="navigation__menu-item">
			<a href="/about" class="navigation__menu-link">About</a>
		</li>
		<li class="navigation__menu-item">
			<a href="/contact" class="navigation__menu-link">Contact</a>
		</li>
	</ul>
</nav>