<div class="technologies__item">
	{% set image = item.image.first() %}

	<a href="{{ item.techLink }}" target="_blank">
		<img src="{{ image.url }}" alt="{{ image.altText }}" class="technologies__image">
	</a>

	<div class="container">
		{{ item.description }}
	</div>
</div>
