{% set conf = craft.config %}
{% set entry = entry is defined ? entry : conf.entryDefaults -%}

{% if craft.config.site != 'main' %}
    {% exit 404 %}
{% endif %}

{% cache globally using key craft.presto.cache if conf.cacheEnabled is defined and conf.cacheEnabled and (cacheEnabled is defined ? cacheEnabled : true) -%}

{% import '_includes/macros/image-utilities' as imageUtils %}
{% import '_includes/macros/icon' as icon %}

{%- spaceless %}
<!doctype html>
<html lang="en" id="global" itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

	{% set pageNum = craft.request.pageNum %}
	{% set pageNumTitle = pageNum > 1 ? ' | Page ' ~ pageNum %}

	<title>
		{%- if entry.seoTitle is not empty -%}
			{{ entry.seoTitle }}{{ pageNumTitle }} |
		{%- elseif title is defined -%}
			{{ title }}{{ pageNumTitle }} |
		{%- elseif entry.title is not empty -%}
			{{ entry.title }}{{ pageNumTitle }} |
		{%- endif %} {{ siteName }}
	</title>

	{% if entry.seoDescription is not empty or description is defined %}
	<meta name="description" content="{% if entry.seoDescription is not empty %}{{ entry.seoDescription }}{% elseif description is defined %}{{ description }}{% endif %}">
	{% endif %}

	{% if entry.seoNoIndex %}
	<meta name="robots" content="noindex, follow">
	{% endif %}

	<link rel="canonical" href="{{ canonical|default(craft.request.url) }}">

	<link rel="apple-touch-icon" href="/assets/img/icons/touch.png">
	<link rel="mask-icon" href="/assets/img/icons/pin.svg" color="#349bb9">
	<link rel="publisher" href="https://plus.google.com/{{ social.googlePageID }}">

	<meta name="twitter:card" content="{% if twCard is defined %}{{ twCard }}{% elseif shareImage is defined %}summary_large_image{% else %}summary{% endif %}">
	<meta name="twitter:site" content="@{{ social.twitterHandle }}">
	{{ cardData|default('') }}

	<meta property="og:type" content="{{ ogType|default('website') }}">
	<meta property="og:site_name" content="{{ siteName }}">
	<meta property="og:url" content="{{ craft.request.url }}" itemprop="url">
	<meta property="og:title" content="{% if ogTitle is defined %}{{ ogTitle }}{% elseif entry.seoTitle is not empty %}{{ entry.seoTitle }}{% elseif entry.title is not empty %}{{ entry.title }}{% elseif title is defined %}{{ title }}{% endif %}" itemprop="name">
	{% if ogTitle is defined or entry.seoDescription is not empty or description is defined %}
	<meta property="og:description" content="{% if ogTitle is defined %}{{ ogTitle }}{% elseif entry.seoDescription is not empty %}{{ entry.seoDescription }}{% elseif description is defined %}{{ description }}{% endif %}" itemprop="description">
	{% endif %}
	<meta property="og:image" content="{{ shareImage|default(conf.assetUrl ~ '/img/share.png') }}" itemprop="image">
	{{ ogData|default('') }}

	{% if ogType is defined and ogType == 'article' and entry.title is not empty %}
	<meta property="article:published_time" content="{{ entry.dateCreated.iso8601 }}" itemprop="datePublished">
	<meta property="article:modified_time" content="{{ entry.dateUpdated.iso8601 }}" itemprop="dateModified">
	{% endif %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css">
	<link rel="stylesheet" href="{{ conf.assetUrl }}/styles/{{ attribute(conf.manifest, 'app.css') }} ">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono|Roboto+Slab:400,700">

	{{ system.headerResources|raw }}
	{{ getHeadHtml() }}

	{% if not craft.request.isLivePreview %}
		{% if conf.env == 'prod' %}
			{{ system.trackingCode|raw }}
		{% else %}
			{{ system.testTrackingCode|raw }}
		{% endif %}
	{% endif %}
</head>
<body>
	<div class="container">
		<header class="header" role="banner">
			<h1 class="header__title">A Developer's Musings</h1>
			<p class="header__subtitle">Thoughts, experiments, photography, and other nonsense from a full stack developer.</p>
		</header>
	</div>

	<div class="container">
		{% include '_includes/partials/navigation' %}
	</div>

	<main class="main" role="main">
		{{ block('content') }}
	</main>

	<footer class="footer" role="contentInfo">
		<p class="footer__me">&copy; Peter Bedor {{ now|date('Y') }}</p>
		<a href="/built-with" class="footer__link">Built With</a>
	</footer>

	{{ system.leadFooterResources|raw }}
	<script src="{{ conf.assetUrl }}/scripts/{{ attribute(conf.manifest, 'common.js') }}"></script>
	<script src="{{ conf.assetUrl }}/scripts/{{ attribute(conf.manifest, 'vendor.js') }}"></script>
	<script src="{{ conf.assetUrl }}/scripts/{{ attribute(conf.manifest, 'app.js') }}"></script>
	{{ getFootHtml() }}
	{{ system.footerResources|raw }}
</body>
</html>
{% endspaceless %}

{% endcache %}
