{% set conf = craft.config %}
{% set entry = entry is defined ? entry : conf.entryDefaults -%}

{% cache globally using key craft.presto.cache({group: 'pjax'}) if conf.cacheEnabled is defined and conf.cacheEnabled and (cacheEnabled is defined ? cacheEnabled : true) -%}

{%- spaceless %}
{% set pageNum = craft.request.pageNum %}
{% set pageNumTitle = pageNum > 1 ? ' | Page ' ~ pageNum %}

{% import '_includes/macros/image-utilities' as imageUtils %}
{% import '_includes/macros/icon' as icon %}

{% set heroImage = false %}

{% if entry and entry.hero is defined and entry.hero|length %}
	{% set heroImage = entry.hero.first().url %}
{% endif %}

<title>
	{%- if entry.seoTitle is not empty -%}
		{{ entry.seoTitle }}{{ pageNumTitle }} |
	{%- elseif title is defined -%}
		{{ title }}{{ pageNumTitle }} |
	{%- elseif entry.title is not empty -%}
		{{ entry.title }}{{ pageNumTitle }} |
	{%- endif %} {{ siteName }}
</title>

<header
	class="header{% if heroImage %} -has-hero{% endif %}"
	role="banner"{% if heroImage %}
	style="background-image: url('{{ heroImage }}');"{% endif %}
	data-ref="hero"
>
	{% include '_includes/partials/navigation' %}
	<div class="header__inner">
		{{ block('header') }}
	</div>
	{% if not heroImage %}
		<div class="gradient-refresh" data-ref="refreshGradient">
			{{ icon.make('refresh') }}
		</div>
	{% endif %}
</header>

<main class="main" role="main">
	{{ block('content') }}
</main>
{% endspaceless %}

{% endcache %}