.post {
    padding-bottom: 4rem;
    padding-top: 4rem;

    &__title,
    &__date {
        text-align: center;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__date {
        color: $lightGray;
    }

    &__header {
        margin-bottom: 8rem;
    }

    h2,
    h3 {
        margin-top: 4rem;
    }
}

.post-text {
    margin-bottom: 4rem;

    p:last-child {
        margin-bottom: 4rem;
    }
}

.post-code-block {
    margin-bottom: 4rem;

    pre code {
        padding: 4rem $bumperPadding;
    }
}
