{% extends '_layouts/sitemap' %}

{% block content %}
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		{# Homepage #}
		{% set page = craft.entries.section('homepage').first %}
		<url>
			<loc>{{ siteUrl }}</loc>
			<lastmod>{{ page.dateUpdated.w3c }}</lastmod>
			<changefreq>daily</changefreq>
		</url>

		{# Pages #}
		{% for page in craft.entries({
			section: 'pages',
			search: 'seoNoIndex:0'
		}) %}
			<url>
				<loc>{{ siteUrl }}{{ page.uri }}</loc>
				<lastmod>{{ page.dateUpdated.w3c }}</lastmod>
				<changefreq>daily</changefreq>
			</url>
		{% endfor %}
	</urlset>
{% endblock %}