{% extends '_layouts/sitemap' %}

{% block content %}
	<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		<sitemap>
			<loc>{{ siteUrl }}sitemaps/general.xml</loc>
		</sitemap>
	</sitemapindex>
{% endblock %}