{% extends craft.config.defaultLayout %}

{% paginate craft.entries({
	section: 'posts',
	relatedTo: category
}).limit(20) as entries %}

{% block content %}
	<div class="blog-index">
		<header class="categories__header">
			<h1>{{ category.title }}</h1>
		</header>

		<div class="container">
			{% for entry in entries %}
				{% include '_includes/partials/blog-excerpt' %}
			{% endfor %}

			{% include '_includes/utilities/pagination' %}
		</div>
	</div>
{% endblock %}
